body{
  overflow: hidden;
  margin: 0;
}
.startQuiz {
     background-image: url('../media/play.png'); 
      background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
 display: box;
  
  overflow: hidden;
 
height: 110vh;
width: 100vw;
transition:all 0.3s ease-in-out;
}

.btn{
    
   position: absolute;
    top: 80%;
    left: 43%;
    font-size: 25px;
    font-family: Arial;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 30px;
     background-color: white; /* White */
  border: none;
  cursor: pointer;

  color: black;
  width: 15vw;
  
  text-align: center;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.btn:focus{
  outline:none;
}
.choice-container
{
    display: flex;
    margin-bottom: 0.5rem;
    width: 28%;
    font-size: 1.4rem;
    position: center;
    border:0.1rem solid rgb(86,165,235,0.25);
    background-color: #4f566b;
    cursor: pointer;
}
.choice-text , .choice-prefix
{
    padding-left: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-family: calibri;
    color: white;
}

#question{
  text-align: center; 
  color: white; 
  font-family: calibri; 
  font-style: normal;
  position:absolute; 
  top:0;
  left:0;
  font-size: 22px;
}

#quesContainer{
border-radius: 20px;
 background: linear-gradient(to right, #003399 0%, #0099cc 100%);; 
width: 30%; 
height: 14vh; 
padding: 5px;
font-size: 22px;
overflow: hidden;
position: relative;
}

#gameContain{
  visibility: hidden; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  width: 100%;
  
}
#endContain{
  display: none; 
  flex-wrap: wrap; 
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 display: box;
overflow: hidden;
height: 97vh;
  width: 100%;
 /* -webkit-transition: left 1s;
    -moz-transition: left 1s;
    transition: left 1s;  */
}

#knowText{
  position: absolute;
    top: 20%;
    left: 30%;
    font-size: 25px;
    font-family: Arial;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
     background-color: transparent; /* White */
  border: none;

  color: white;
  width: 35vw;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#playAgainButton{
  position: absolute;
    top: 70%;
    left: 50%;
    transform:translateX(-50%);
    font-size: 25px;
    font-family: Arial;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 30px;
     background-color: white; /* White */
  border: none;
  cursor: pointer;
  
  color: black;
  width: 15vw;
  
  
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
#playAgainButton:focus{
  outline:none;
}
/* #startquizz{
  display: none;
} */
#result{
  
  height:100vh;
  width:100vw;
  position:relative;
 background: linear-gradient(to right, #050A0C 0%, #1F5C71 100%);
 display:none;
transition: all 0.3s ease-in-out;
}
#rightwrong{
  position: absolute;
  top:10%;
  left:50%;
  transform: translateX(-50%);
  color:white;
  background: transparent;

}
#reason{
   position:absolute;
   top:40%;
  left:50%;
  transform: translateX(-50%);
  color:white;
  background: transparent;
}
#skip{
  position: absolute;
    top: 80%;
    left: 43%;
    font-size: 20px;
    font-family: Arial;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 30px;
     background-color: white; /* White */
  border: none;
  cursor: pointer;

  color: black;
  width: 15vw;
  
  text-align: center;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:80%;
  left:50%;
  transform: translateX(-50%);
}